@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-[#f9f3ff];
}

.logo {
		width: calc(50px + (81 / (1024 - 350)) * (100vw - 350px));
		height: calc(40px + (40 / (1024 - 350)) * (100vh - 350px));
		object-fit: contain;
		max-width: 110px;
		max-height: 65px;
		min-width: 50px;
		min-height: 40px;
		transition: width 0.3s ease, height 0.3s ease;
	}
